// mobile veiw
.SigninForm {
  height: 50%;
  transition: transform 0.3s ease-in-out;
  .submitBtn {
    background-color: #0b6380;
  }
}
.flipSigninForm {
  transform: translateY(100%);
}

// laptop view
@media all and (min-width: 1200px) {
  .SigninForm {
    height: 100%;
  }
  .flipSigninForm {
    transform: translateX(82%);
  }
}

/* For Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
