:root {
  --background: #ffffff;
  --foreground: #171717;
}

.flex-row-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}